html, body, .container-fluid {
    height: 100%;
    height:calc(100% - 24px);
}

.map-container {
    width:100%;
    height: auto;
    height:calc(100% - 100px);
    margin-top: 0px;
}

#slider {
    margin-top: 10px;
    width: 100%;
}

div.infowindow {
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

i {
    font-size: 40px;
    margin-right: 12px;
    color: darkblue;
}

td i {
    font-size: 18px;
}

i#selectedCategory {
    color: blue;
}